:root {
  --max-width: 720px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color-light: #ffffff;
  --text-color-light: #111827;
  --text-secondary-color-light: #757575;
  --border-color-light: #eee;
  --button-bg-color-light: #111827;
  --button-text-color-light: #fff;
  --link-color-light: #2f79c8;
  --icon-color-light: #888;
  --highlight-color-light: #000;
  --bg-code-color-light: #fafafa;
  --button-shadow-color-light: #444;

  --bg-color-dark: #1c1c1c;
  --text-color-dark: #f0f0f0;
  --text-secondary-color-dark: #f0f0f0;
  --border-color-dark: #444;
  --button-bg-color-dark: #fff;
  --button-text-color-dark: #1c1c1c;
  --link-color-dark: #fde047;
  --icon-color-dark: #f0f0f0;
  --highlight-color-dark: #fff;
  --bg-code-color-dark: #282c34;
  --button-shadow-color-dark: #444;

  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --text-secondary-color: var(--text-secondary-color-light);
  --border-color: var(--border-color-light);
  --button-bg-color: var(--button-bg-color-light);
  --button-text-color: var(--button-text-color-light);
  --button-shadow-color: var(--button-shadow-color-light);
  --link-color: var(--link-color-light);
  --icon-color: var(--icon-color-light);
  --highlight-color: var(--highlight-color-light);
  --bg-code-color: var(--bg-code-color-light);
}

[data-theme="light"] {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --text-secondary-color: var(--text-secondary-color-light);
  --border-color: var(--border-color-light);
  --button-bg-color: var(--button-bg-color-light);
  --button-text-color: var(--button-text-color-light);
  --button-shadow-color: var(--button-shadow-color-light);
  --link-color: var(--link-color-light);
  --icon-color: var(--icon-color-light);
  --highlight-color: var(--highlight-color-light);
  --bg-code-color: var(--bg-code-color-light);
}

[data-theme="dark"] {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --text-secondary-color: var(--text-secondary-color-dark);
  --border-color: var(--border-color-dark);
  --button-bg-color: var(--button-bg-color-dark);
  --button-text-color: var(--button-text-color-dark);
  --button-shadow-color: var(--button-shadow-color-dark);
  --link-color: var(--link-color-dark);
  --icon-color: var(--icon-color-dark);
  --highlight-color: var(--highlight-color-dark);
  --bg-code-color: var(--bg-code-color-dark);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  font-style: italic;
}

h2 {
  font-weight: lighter;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

p,
span {
  font-size: 18px;
  line-height: 27px;
  max-width: 750px;
  margin: 12px 0;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 700;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--border-color);
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

button:hover {
  opacity: 0.8;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
